
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');

*{
    padding:0px;
    margin:0px;
}

body{
    font-family: arial;
}


/* -------- MENU ------------ */

nav{
    background-color: rgb(59, 156, 3);
    height: 60px;
}


a{
    text-decoration: none;
}

span{
    text-align: left;
    color: #ffa500;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 3px gray;
    line-height: 60px;
    margin-left: 100px;

}

ul{
    list-style: none;
    float: right;
    margin-right: 100px;
}

li{
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px;

}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    border-color: #ffa500;
}

table{
    width: 80%;
    background-color: rgba(0,0,0,.1);
    margin: 80px auto;
    border-collapse: collapse;
}

tr#titulo{
    background-color: rgba(0,0,0,.8);
    color: white;
    text-align: center;
}

tr{
    height: 50px;
    text-align: center;
}

td{
    border: 1px solid black;
}

h2{
    font-family: 'Della Respira', serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 60px;
    float: right;
    margin-right: 30px;
    color: greenyellow;
}
