
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');

:root{
    --dark-blue: 363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
}

*{
    padding:0px;
    margin:0px;
}

body{
    font-family: arial;
    background-image: url("../img/green-wallpaper1.jpg");
}

h3{
    font-size: 20pt;
    text-align: center;
    margin-top: 50px;
}

/* -------- MENU ------------ */

nav{
    background-color: rgb(59, 156, 3);
    height: 60px;
}

a{
    text-decoration: none;
}

.logo{
    text-align: left;
    color: yellow;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 3px gray;
    line-height: 60px;
    margin-left: 100px;

}

ul{
    list-style: none;
    float: right;
    margin-right: 100px;
}

li{
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px;

}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    border-color: #ffa500;
}

/*------------- saudação ----------------- */

h2{
    font-family: 'Della Respira', serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 60px;
    float: right;
    margin-right: 30px;
    color: greenyellow;
}

#balance{
    margin-top: -8rem;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5px;
}

.container{
    width: 90%;
    height:350px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
    background: #fff;
    color: var(--dark-blue);
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
    height: 200px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    margin-top: -10px;
}

.card:hover{
    background-color: rgba(179, 118, 5, 0.116);
}

.textContent{
    font-family: 'Della Respira', serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.links{
    text-decoration: none;
    color: black;
}

.links:hover{
    text-decoration: underline;
    color: #e92929;
}
